.banner {
    background-color: rgb(141,30,16);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.banner .container {
    width: 1200px;
}
.banner .container  img {
    width: 100%;
    display: block;
}
.area {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.news {
    background-image: url(../images/news-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
}
.area .header,
.area .content {
    width: 1200px;
}
.area .header {
    text-align: center;
    margin-bottom: 50px;
    color: #ffffff;
}
.area .header h1 {
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 36px;
}
.area .header p {
    font-size: 14px;
}
.news .content {
    display: flex;
    margin-bottom: 80px;
}
.news .content .item {
    flex: 1;
    background-color: #fff;
    padding: 15px;
}
.news .content .item:nth-child(2) {
    margin-top: 10px;
}
.news .content .item:nth-child(3) {
    margin-top: 10px;
}
.news .content .left {
    width: 368px;
    background-image: url(../images/news-1.jpeg);
    background-position: -100px 0px;
    background-size: cover;
    position: relative;
}
.news .content .left .info {
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    left: 12px;
    bottom: 12px;
    right: 12px;
    display: flex;
    padding: 15px;
    align-items: center;
}
.news .content .left .info .desc {
    flex: 1;
}
.news .content .left .info .arrow {
    width: 40px;
    height: 40px;
    margin-left: 20px;
}
.news .content .left .info .arrow img {
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0.2;
}
.news .content .center,
.news .content .right {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.news .content .center {
    margin-right: 10px;
}

.news .content .center .item > h3 {
    margin-bottom: 10px;
    font-size: 16px;
}
.news .content .center .item > p {
    padding-bottom: 10px;
    font-size: 14px;
}
.news .content .center .item .more {
    border-top: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    align-items: center;
}
.news .content .center .item .more .date {
    color: #cf4342;
    text-align: center;
}
.news .content .center .item .more .date h3,
.news .content .right .item .date h3 {
    font-size: 40px;
}
.news .content .center .item .more .date p,
.news .content .right .item .date p {
    font-size: 14px;
}
.news .content .center .item .more .arrow,
.news .content .right .item .info .arrow {
    width: 40px;
    height: 40px;
}
.news .content .center .item .more .arrow img,
.news .content .right .item .info .arrow img {
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0.2;
}
.news .content .right .item {
    display: flex;
}
.news .content .right .item .date {
    width: 80px;
    color: #cf4342;
    text-align: center;
    border-right: 1px solid #eee;
    padding-right: 10px;
}
.news .content .right .item .date h3 {
    padding-bottom: 16px;
}
.news .content .right .item .date h3 span {
    border-bottom: 2px solid #eee;
    display: inline-block;
    padding-bottom: 8px;
}
.news .content .right .item .info {
    flex: 1;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.news .content .right .item .info h3 {
    font-size: 16px;
}
.area > .button {
    text-align: center;
    margin-bottom: 50px;
}
.area > .button a {
    display: inline-block;
    padding: 10px 24px;
    color: #fff;
    background-color: #f00;
}
.notice {
    background-image: url(../images/notice-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
}
.notice .content {
    width: 1200px;
    height: 400px;
    display: flex;
    padding-bottom: 80px;
}
.notice .content .item {
    flex: 1;
    background-color: #fff;
    position: relative;
}
.notice .content .item:nth-child(1),
.notice .content .item:nth-child(2),
.notice .content .item:nth-child(3) {
    margin-right: 20px;
}
.notice .content .item {
    background-repeat: repeat;
    background-size: cover;
    background-position: center center;
}
.notice .content .item:nth-child(1) {
    background-image: url(../images/notice-1.jpeg);
}
.notice .content .item:nth-child(2) {
    background-image: url(../images/notice-2.jpeg);
}
.notice .content .item:nth-child(3) {
    background-image: url(../images/notice-3.jpeg);
}
.notice .content .item:nth-child(4) {
    background-image: url(../images/notice-4.jpeg);
}
.notice .content .item .date {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.2);
    top: 10px;
    right: 10px;
    color: #fff;
    text-align: center;
}
.notice .content .item .date h3 {
    font-size: 30px;
    padding-top: 8px;
}
.notice .content .item .date p {
    font-size: 16px;
}
.notice .content .item .info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 15px;
    box-sizing: border-box;
    color: #fff;
}
.notice .content .item .info h3 {
    font-size: 16px;
    padding-bottom: 10px;
}
.notice .content .item .info p {
    font-size: 14px;
    color: #cccccc;
}
.topic {
    background-image: url(../images/topic-bg.png);
}
.topic .header {
    color: #000;
}
.topic .content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 80px;
}
.topic .content .item {
    width: calc(33.33333333% - 13.333333px);
    height: 200px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.topic .content .item:nth-child(1),
.topic .content .item:nth-child(2),
.topic .content .item:nth-child(4),
.topic .content .item:nth-child(5) {
    margin-right: 20px;
}
.topic .content .item:nth-child(4),
.topic .content .item:nth-child(5),
.topic .content .item:nth-child(6) {
    margin-top: 20px;
}
.topic .content .item:nth-child(1) {
    background-image: url(../images/topic-1.jpeg);
}
.topic .content .item:nth-child(2) {
    background-image: url(../images/topic-2.jpeg);
}
.topic .content .item:nth-child(3) {
    background-image: url(../images/topic-3.jpeg);
}
.topic .content .item:nth-child(4) {
    background-image: url(../images/topic-4.jpeg);
}
.topic .content .item:nth-child(5) {
    background-image: url(../images/topic-5.jpeg);
}
.topic .content .item:nth-child(6) {
    background-image: url(../images/topic-6.jpeg);
}
.campus {
    background-image: url(../images/campus-bg.png);
}
.campus .top {
    display: flex;
}
.campus .top .left {
    flex: 2;
    background-image: url(../images/news-1.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-right: 20px;
}
.campus .top .left img {
    width: 100%;
    height: 100%;
    padding: 230px;
    display: block;
    box-sizing: border-box;
}
.campus .top .center {
    flex: 1;
    margin-right: 20px;
}
.campus .top .center .item,
.campus .top .right .item {
    display: block;
    width: 100%;
    padding: 120px;
    box-sizing: border-box;
}
.campus .top .center .item img,
.campus .top .right .item img {
    display: block;
    width: 100%;
}
.campus .top .center .item:nth-child(2),
.campus .top .right .item:nth-child(2) {
    margin-top: 20px;
}
.campus .top .right {
    flex: 1;
}
.campus .top .center .item,
.campus .top .right .item {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.campus .top .center .item:nth-child(1) {
    background-image: url(../images/campus.jpeg);
}
.campus .top .center .item:nth-child(2) {
    background-image: url(../images/campus-1.jpeg);
}
.campus .top .right .item:nth-child(1) {
    background-image: url(../images/campus.jpeg);
}
.campus .top .right .item:nth-child(2) {
    background-image: url(../images/campus-3.jpeg);
}
.campus .top .center .item:nth-child(2)::after,
.campus .top .right .item:nth-child(1)::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(225, 207, 6, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.campus .bottom {
    margin-top: 80px;
    display: flex;
    margin-bottom: 80px;
}
.campus .bottom .item {
    flex: 1;
    background-color: #ffffff;
    padding: 20px;
}
.campus .bottom .item .image {
    width: 100%;
}
.campus .bottom .item .image img {
    width: 100%;
}
.campus .bottom .item:nth-child(1),
.campus .bottom .item:nth-child(2) {
    margin-right: 20px;
}
.campus .bottom .item h2 {
    padding-top: 50px;
    padding-bottom: 40px;
}
.campus .bottom .item .button {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.campus .bottom .item .button a,
.campus .bottom .item .button img {
    display: block;
}
.campus .bottom .item .button img {
    width: 20px;
    height: 20px;
    display: block;
    margin-left: 10px;
}
.campus .bottom .item .button a {
    color: #a00;
}
